
/* for the button  */
#dark_mode {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 90px;
    background: linear-gradient(45deg, #f2994a, #f2c94c); 
    border: none;
    color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    position: fixed;
    top: 60%;
    left: 97.5%; 
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    transition: all 0.3s ease; 
  }

  #dark_mode::before {
    content: var(--icon-content, '\f186');
    font-family: FontAwesome;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 10px;
}

  #dark_mode:hover {
    transition: all 0.3s ease; 
    width: 45px;
    height: 95px;
  }
